.App-footer {
  border-top: 2px solid rgb(36, 218, 192);
  margin-top: 45px;
  padding-top: 15px;
  text-align: center;
}

.App-footer-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.App-footer-logo {
  height: 32px;
  margin-bottom: 15px;
}
